body {
    background: rgb(52, 152, 219) !important;
    text-align: center;
}
ul {
    width: 90%;
    padding: 0;
    margin-left: auto !important;
}
.content-1 {
    margin-top: 54px;
    font-size: 0.9em;
}

.content-2 {
    margin-bottom: 54px;
}

ul li {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #22282d;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 0.7em;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);
}
a {
    color: white !important;
    text-decoration: none !important;
}

.active {
    background-color: #f5f5f5;
}

.active a {
    color: #22282d !important;
}
